/*
*@author zengw
*@contect 584778883@qq.com
*@time Thu Dec 01 2016 16:04:33 GMT+0800 (中国标准时间)
*/
@charset "UTF-8";
.slideUp {
  position: fixed;
  width: 100%;
  height: 0.6rem;
  font-size: 0.18rem;
  top: 0rem;
  left: 0px;
  background-color: red;
  z-index: 199; }

.slideDown {
  position: fixed;
  width: 100%;
  height: 0.6rem;
  font-size: 0.18rem;
  bottom: -0.6rem;
  left: 0px;
  background-color: red;
  z-index: 99; }

.loadingBox {
  width: 100%;
  position: fixed;
  top: 1rem;
  z-index: 500; }

.loadingBox div {
  width: 1.2rem;
  height: 0.4rem;
  line-height: 0.4rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 0.16rem;
  margin: 0px auto;
  border-radius: 0.03rem; }

.header {
  height: 0.6rem;
  position: fixed;
  z-index: 200;
  background-color: #646371;
  text-align: center;
  line-height: 0.6rem;
  top: 0px;
  width: 100%; }
  .header p {
    color: #ffffff;
    font-size: 0.24rem;
    margin: 0px 0px; }
  .header .left-back-icon {
    background: url("../img/icon/fanhui.png") no-repeat center;
    left: 0px;
    height: 0.6rem;
    width: 0.6rem;
    display: block;
    position: absolute;
    top: 0px;
    background-size: 0.35rem 0.35rem; }
  .header .left-map-icon {
    background: url("../img/icon/fanhui.png") no-repeat center;
    left: 0px;
    height: 0.6rem;
    width: 0.6rem;
    display: block;
    position: absolute;
    top: 0px;
    background-size: 0.35rem 0.35rem; }
  .header .right-filter-icon {
    background: url("../img/icon/shaixuan.png") no-repeat center;
    height: 0.6rem;
    width: 0.6rem;
    display: block;
    position: absolute;
    top: 0px;
    background-size: 0.35rem 0.35rem;
    right: 0px; }
  .header .right-share-icon {
    background: url("../img/icon/fenxiang.png") no-repeat center;
    height: 0.6rem;
    width: 0.6rem;
    display: block;
    position: absolute;
    top: 0px;
    background-size: 0.35rem 0.35rem;
    right: 0px; }
  .header .text_fabu {
    height: 0.6rem;
    width: 0.6rem;
    display: block;
    position: absolute;
    top: 0px;
    background-size: 0.35rem 0.35rem;
    right: 0px;
    font-size: 0.16rem;
    color: #ffffff; }
    .header .text_fabu:before {
      content: "发布";
      display: block;
      font-style: normal; }
  .header .text_queren {
    height: 0.6rem;
    width: 0.6rem;
    display: block;
    position: absolute;
    top: 0px;
    background-size: 0.35rem 0.35rem;
    right: 0px;
    font-size: 0.16rem;
    color: #ffffff; }
    .header .text_queren:before {
      content: "确认";
      display: block;
      font-style: normal; }

body {
  background-color: #ffffff; }

.main_center {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0.6rem;
  bottom: 0px;
  left: 0px; }

.inputcommentsarea {
  display: block;
  top: 0.6rem;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  position: fixed;
  width: 100%; }
  .inputcommentsarea .user {
    display: block;
    position: relative;
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 100;
    width: 100%;
    box-sizing: border-box; }
    .inputcommentsarea .user .commentinput {
      display: block;
      position: fixed;
      width: 100%;
      top: 0px;
      left: 0px;
      bottom: 0px;
      border: 0px none;
      margin: 0px 0px; }
    .inputcommentsarea .user .filter {
      display: block;
      padding: 0px 0rem;
      margin: 0px 0px; }
      .inputcommentsarea .user .filter li {
        display: block;
        overflow: hidden;
        padding: 0px 0.2rem;
        border-bottom: 1px solid #eeeeee; }
        .inputcommentsarea .user .filter li .lefticon {
          display: block;
          float: left;
          height: 0.65rem;
          line-height: 0.65rem;
          padding-left: 0.35rem;
          text-align: left;
          font-size: 0.18rem;
          color: #333333; }
          .inputcommentsarea .user .filter li .lefticon i {
            font-style: normal;
            font-size: 0.12rem;
            color: #a1a1b3; }
        .inputcommentsarea .user .filter li .righticon {
          display: block;
          float: right;
          height: 0.65rem;
          line-height: 0.65rem;
          padding-right: 0.35rem;
          text-align: right;
          font-size: 0.12rem;
          color: #a1a1b3; }
          .inputcommentsarea .user .filter li .righticon i {
            font-style: normal;
            font-size: 0.12rem;
            color: #a1a1b3; }
        .inputcommentsarea .user .filter li .area_icon {
          background: url("../img/icon/diqu.png") no-repeat 0px 0.2rem;
          background-size: 0.25rem 0.25rem; }
        .inputcommentsarea .user .filter li .time_icon {
          background: url("../img/icon/shijian.png") no-repeat 0px 0.2rem;
          background-size: 0.25rem 0.25rem; }
        .inputcommentsarea .user .filter li .type_icon {
          background: url("../img/icon/leixing.png") no-repeat 0px 0.2rem;
          background-size: 0.25rem 0.25rem; }
        .inputcommentsarea .user .filter li .diqu_icon {
          background: url("../img/icon/danxuanyuan_w.png") no-repeat 0px 0.225rem;
          background-size: 0.2rem 0.2rem; }
        .inputcommentsarea .user .filter li .diqu_icon-choosed {
          background: url("../img/icon/danxuanyuan_y.png") no-repeat 0px 0.225rem;
          background-size: 0.2rem 0.2rem; }
        .inputcommentsarea .user .filter li .right_icon {
          position: relative; }
          .inputcommentsarea .user .filter li .right_icon:after {
            display: block;
            content: " ";
            position: absolute;
            right: 0px;
            height: 0.25rem;
            width: 0.25rem;
            top: 0.2rem;
            background: url("../img/icon/kexuanze.png") no-repeat center;
            background-size: 0.25rem 0.25rem; }
    .inputcommentsarea .user .time_area {
      padding: 0px 0.0rem 0px 0.0rem; }
      .inputcommentsarea .user .time_area .title {
        position: relative;
        overflow: hidden; }
        .inputcommentsarea .user .time_area .title span {
          display: block;
          text-align: center;
          height: 0.6rem;
          line-height: 0.6rem;
          border-bottom: 1px solid #eeeeee;
          font-size: 0.16rem;
          letter-spacing: 0.02rem;
          color: #22222e; }
        .inputcommentsarea .user .time_area .title i {
          display: block;
          position: absolute;
          top: 0px;
          height: 0.6rem;
          width: 0.6rem; }
        .inputcommentsarea .user .time_area .title .lefticon {
          left: 0px;
          background: url("../img/icon/rili_l.png") no-repeat center;
          background-size: 0.12rem 0.2rem; }
        .inputcommentsarea .user .time_area .title .righticon {
          right: 0px;
          background: url("../img/icon/rili_r.png") no-repeat center;
          background-size: 0.12rem 0.2rem; }
      .inputcommentsarea .user .time_area .time_table {
        position: relative;
        padding: 0px 0.2rem; }
        .inputcommentsarea .user .time_area .time_table table {
          position: relative;
          width: 100%; }
          .inputcommentsarea .user .time_area .time_table table thead tr th {
            width: 7.14286%;
            text-align: center;
            line-height: 100%; }
            .inputcommentsarea .user .time_area .time_table table thead tr th:before {
              content: "";
              display: inline-block;
              padding-bottom: 60%;
              width: 0.01rem;
              vertical-align: middle; }
          .inputcommentsarea .user .time_area .time_table table tbody tr td {
            width: 7.14286%;
            text-align: center;
            box-sizing: border-box;
            position: relative;
            z-index: 1; }
            .inputcommentsarea .user .time_area .time_table table tbody tr td:before {
              content: "";
              display: inline-block;
              padding-bottom: 70%;
              width: 0.01rem;
              vertical-align: middle; }
          .inputcommentsarea .user .time_area .time_table table tbody tr .active span {
            display: inline-block;
            vertical-align: middle;
            height: 0.4rem;
            width: 0.4rem;
            line-height: 0.4rem;
            background-color: #45e6b0;
            border-radius: 50%; }

@media only screen and (max-width: 319px) {
  html {
    font-size: 450%; } }

@media only screen and (min-width: 320px) and (max-width: 375px) {
  html {
    font-size: 500%; } }

@media only screen and (min-width: 376px) and (max-width: 639px) {
  html {
    font-size: 400%; } }

@media only screen and (min-width: 640px) and (max-width: 900px) {
  html {
    font-size: 1200%; } }

@media only screen and (min-width: 901px) {
  html {
    font-size: 1500%; } }
