
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" test="testd">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="../css/mui.min.css" rel="stylesheet"/>
<script src="../js/mui.js"></script>
<script src="../js/iscroll.js"></script>
<title>正文</title>    
    <link href="../css/main_bady_center.css" rel="stylesheet"/>
    <script src="../js/login.js"></script>
</head>
<body>
	<div class="main">
		<!-- 文章主题内容 -->
		<div class="main-content">
			<div class="main-list">
				<div class="content-info">
					<a class="userinfo">
						<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
						<div class="text-info">
							<span class="nike-name">暖心的梦</span>
							<span class="pub-time">2016-10-20</span>
						</div>
					</a>
				</div>
				<div class="article">
					<div class="text-desc">					
						<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
					</div>
					<div class="relation-imgs">
						<img class="img-col3-mar" src="../img/content/1.jpg" alt="">
						<img class="img-col3-mar" src="../img/content/2.jpg" alt="">
						<img class="img-col3-mar" src="../img/content/3.jpg" alt="">
					</div>
				</div>
				<div class="pub-positon">四川省成都市人民南路四段</div>
			</div>	
		</div>
		<!-- 评论区 -->
		<div class="comments">
			<div class="respone">
				<span class="result active">评论&nbsp;<span class="num">32</span></span>
				<span class="result">顶&nbsp;<span class="num">80</span></span>
			</div>
			<div class="commentslist">
				<div class="list-item">
					<div class="userblock">
						<a class="userinfo">
							<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
							<div class="text-info">
								<span class="nike-name">暖心的梦</span>
								<span class="pub-time">2016-10-20</span>
							</div>
						</a>						
					</div>
					<div class="conments-text">
						<div class="text-desc">					
							<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
						</div>					
					</div>										
				</div>
				<div class="list-item">
					<div class="userblock">
						<a class="userinfo">
							<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
							<div class="text-info">
								<span class="nike-name">暖心的梦</span>
								<span class="pub-time">2016-10-20</span>
							</div>
						</a>						
					</div>
					<div class="conments-text">
						<div class="text-desc">					
							<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
						</div>					
					</div>										
				</div>
				<div class="list-item">
					<div class="userblock">
						<a class="userinfo">
							<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
							<div class="text-info">
								<span class="nike-name">暖心的梦</span>
								<span class="pub-time">2016-10-20</span>
							</div>
						</a>						
					</div>
					<div class="conments-text">
						<div class="text-desc">					
							<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
						</div>					
					</div>										
				</div>
				<div class="list-item">
					<div class="userblock">
						<a class="userinfo">
							<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
							<div class="text-info">
								<span class="nike-name">暖心的梦</span>
								<span class="pub-time">2016-10-20</span>
							</div>
						</a>						
					</div>
					<div class="conments-text">
						<div class="text-desc">					
							<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
						</div>					
					</div>										
				</div>
				<div class="list-item">
					<div class="userblock">
						<a class="userinfo">
							<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
							<div class="text-info">
								<span class="nike-name">暖心的梦</span>
								<span class="pub-time">2016-10-20</span>
							</div>
						</a>						
					</div>
					<div class="conments-text">
						<div class="text-desc">					
							<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
						</div>					
					</div>										
				</div>
				<div class="list-item">
					<div class="userblock">
						<a class="userinfo">
							<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
							<div class="text-info">
								<span class="nike-name">暖心的梦</span>
								<span class="pub-time">2016-10-20</span>
							</div>
						</a>						
					</div>
					<div class="conments-text">
						<div class="text-desc">					
							<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
						</div>					
					</div>										
				</div>																
			</div>
		</div>		
	</div>
	<div class="inputcommentsarea" style="display: none;">
			<div class="header">
	    <i class="left-map-icon"></i>
		<p>写评论</p>
		<i class="text_fabu"></i>
	</div>
		<div class="user">
			<textarea class="commentinput" placeholder="请输入评论内容，你也可以在评论中@。"></textarea>
			<ul class="filter">
				<li>
					<span class="area_icon lefticon">地区</span>
					<span class="right_icon righticon">四川</span>
				</li>
				<li>
					<span class="time_icon lefticon">时间段</span>
					<span class="right_icon righticon">2016.08.1-2016.08.27</span>
				</li>
				<li>
					<span class="type_icon lefticon">类型</span>
					<span class="right_icon righticon">交通</span>
				</li>									
			</ul>
			<ul class="filter">
				<li>
					<span class="diqu_icon-choosed lefticon">
						<span>四川</span>
						<i>(当前位置)</i>
					</span>
				</li>
				<li>
					<span class="diqu_icon lefticon">时间段</span>
				</li>
				<li>
					<span class="diqu_icon lefticon">类型</span>
				</li>									
			</ul>
			<div class="time_area">
				<div class="title">
					<i class="lefticon"></i>
					<span>2016年8月</span>
					<i class="righticon"></i>
				</div>
				<div class="time_table">
					<table>
						<thead>
							<tr>
								<th>日</th>
								<th>一</th>
								<th>二</th>
								<th>三</th>
								<th>四</th>
								<th>五</th>
								<th>六</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td>1</td>
								<td class="active"><span>2</span></td>
								<td>3</td>
								<td>4</td>
								<td>5</td>
							</tr>
							<tr>
								<td>6</td>
								<td>7</td>
								<td>8</td>
								<td>9</td>
								<td>10</td>
								<td>11</td>
								<td>12</td>
							</tr>
							<tr>
								<td>13</td>
								<td>14</td>
								<td>15</td>
								<td>16</td>
								<td>17</td>
								<td>18</td>
								<td>19</td>
							</tr>
							<tr>
								<td>20</td>
								<td>21</td>
								<td>22</td>
								<td>23</td>
								<td>24</td>
								<td>25</td>
								<td>26</td>
							</tr>
							<tr>
								<td>27</td>
								<td>28</td>
								<td>29</td>
								<td>30</td>
								<td>31</td>
								<td></td>
								<td></td>
							</tr>																												
						</tbody>
					</table>					
				</div>

			</div>			
		</div>
	</div>		
</body>
</html>