<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" test="testd">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="../css/mui.min.css" rel="stylesheet"/>
<script src="../js/mui.js"></script>
<script src="../js/iscroll.js"></script>
<title>正文</title>    
    <link href="../css/main_bady.css" rel="stylesheet"/>
</head>
<body>
		<div class="header">
	    <i class="left-map-icon"></i>
		<p>正文</p>
		<i class="right-share-icon"></i>
	</div>
	<div class="main">
		<!-- 文章主题内容 -->
		<div class="scrollarea">
			<div class="main-content">
				<div class="main-list">
					<div class="content-info">
						<a class="userinfo">
							<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
							<div class="text-info">
								<span class="nike-name">暖心的梦</span>
								<span class="pub-time">2016-10-20</span>
							</div>
						</a>
					</div>
					<div class="article">
						<div class="text-desc">					
							<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
						</div>
						<div class="relation-imgs">
							<img class="img-col3-mar" src="../img/content/1.jpg" alt="">
							<img class="img-col3-mar" src="../img/content/2.jpg" alt="">
							<img class="img-col3-mar" src="../img/content/3.jpg" alt="">
						</div>
					</div>
					<div class="pub-positon">四川省成都市人民南路四段</div>
				</div>	
			</div>
			<!-- 评论区 -->
			<div class="comments">
				<div class="respone">
					<span class="result active">评论&nbsp;<span class="num">32</span></span>
					<span class="result">顶&nbsp;<span class="num">80</span></span>
				</div>
				<div class="commentslist">
					<div class="list-item">
						<div class="userblock">
							<a class="userinfo">
								<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
								<div class="text-info">
									<span class="nike-name">暖心的梦</span>
									<span class="pub-time">2016-10-20</span>
								</div>
							</a>						
						</div>
						<div class="conments-text">
							<div class="text-desc">					
								<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
							</div>					
						</div>										
					</div>
					<div class="list-item">
						<div class="userblock">
							<a class="userinfo">
								<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
								<div class="text-info">
									<span class="nike-name">暖心的梦</span>
									<span class="pub-time">2016-10-20</span>
								</div>
							</a>						
						</div>
						<div class="conments-text">
							<div class="text-desc">					
								<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
							</div>					
						</div>										
					</div>
					<div class="list-item">
						<div class="userblock">
							<a class="userinfo">
								<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
								<div class="text-info">
									<span class="nike-name">暖心的梦</span>
									<span class="pub-time">2016-10-20</span>
								</div>
							</a>						
						</div>
						<div class="conments-text">
							<div class="text-desc">					
								<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
							</div>					
						</div>										
					</div>
					<div class="list-item">
						<div class="userblock">
							<a class="userinfo">
								<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
								<div class="text-info">
									<span class="nike-name">暖心的梦</span>
									<span class="pub-time">2016-10-20</span>
								</div>
							</a>						
						</div>
						<div class="conments-text">
							<div class="text-desc">					
								<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
							</div>					
						</div>										
					</div>
					<div class="list-item">
						<div class="userblock">
							<a class="userinfo">
								<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
								<div class="text-info">
									<span class="nike-name">暖心的梦</span>
									<span class="pub-time">2016-10-20</span>
								</div>
							</a>						
						</div>
						<div class="conments-text">
							<div class="text-desc">					
								<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
							</div>					
						</div>										
					</div>
					<div class="list-item">
						<div class="userblock">
							<a class="userinfo">
								<img class="user-photo" src="../img/userphoto/user.jpg" alt="">
								<div class="text-info">
									<span class="nike-name">暖心的梦</span>
									<span class="pub-time">2016-10-20</span>
								</div>
							</a>						
						</div>
						<div class="conments-text">
							<div class="text-desc">					
								<p class="contenttext"><a class="theme-title">#环dd境#&nbsp;</a>阿诺德·施瓦辛格，1947年7月30日生于奥地利，是美国男演员、健美运动员、前美国加州州长、政治家，拥有美国和奥地利双重国籍。施瓦辛格幼时练习健美，1967年20岁时获得了环球...</p>					
							</div>					
						</div>										
					</div>																
				</div>
			</div>					
		</div>

	</div>	
	<footer class="pull-mystatuse">
		<div class="comments-btn-area">
			<a class="comment_btn">我要评论</a>
		</div>
		<div class="comments-btn-area">
			<a class="liked_btn">顶一下</a>
		</div>	
	</footer>
	<script src="../js/zepto_1.1.3.js"></script>
	<script src="../js/main_body.js?v=12"></script>		
</body>
</html>