<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" test="testd">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="../css/mui.min.css" rel="stylesheet"/>
<script src="../js/mui.js"></script>
<script src="../js/iscroll.js"></script>
<title>首页</title>    
    <link href="../css/msg_set.css" rel="stylesheet"/>
    <!-- <script src="../js/login.js"></script> -->
</head>
<body>
		<div class="header">
	    <i class="left-map-icon"></i>
		<p>消息设置</p>
		<i class=""></i>
	</div>
	<div class="main mui-scroll-wrapper">
		<ul class="set_list">
			<li class="set_item newmsg">
				<span>声音</span>
				<div class="switch switch_active">
					<div class="round"></div>
				</div>
			</li>
			<li class="set_item remove_catch">
				<span>震动</span>
				<div class="switch">
					<div class="round"></div>
				</div>				
			</li>
		</ul>
	</div>
	<script src="../js/zepto_1.1.3.js"></script>
	<script src="../js/msg_set.js"></script>
</body>
</html>